<!DOCTYPE html>
<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="mainContent">
        <!-- Use partial -->
        {{>header}}

        <p>{{errorMessage}}</p>
    </div>

    <!-- Use partial -->
    {{>footer}}
</body>

</html>