<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="mainContent">
        <!-- Use partial -->
        {{>header}}

        <p>This site was created by sivan zohar. It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="/img/sivan.jpg">
    </div>

    <!-- Use partial -->
     {{>footer}}

</body>

</html>